*.swp
*.o
*core.*
*.tar
*.txt
*.out
*.ko
*.mod.*
*.order
*.symvers
*.cmd

proxylab/proxy
proxylab/proxy.log

malloc/mdriver
malloclab/output
malloclab/output1
malloclab/traces2

kernellab/request-pid
kernellab/.username
kernellab/.tmp_versions

cachelab/tracegen
cachelab/csim
